.pn-details {
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;

    &.top {
        font-size: 1.4em;
    }

    &.pn-right {
        text-align: right;
    }

    .label {
        font-size: 1.2em;
        font-weight: bold;
    }
}