.globalHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 102px;
  .logo a{
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    &:hover, &:active {
      text-decoration: none;
     }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    li {
      display: inline-block;
      position: relative;
      margin-right: 33px;
      font-size: 16px;
      border: 0;
      cursor: default;
      font-weight: bold;
      &:last-of-type {
        margin-right: 0;
       }
      &.active:hover {

      }

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
      }
    }

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}
