.globalHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 102px;
  margin-bottom: 18px;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 100px;
    background-color: #fff;
  }
  .logo a {
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    &:hover, &:active {
      text-decoration: none;
     }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    li {
      display: inline-block;
      position: relative;
      margin-right: 33px;
      font-size: 16px;
      border: 0;
      cursor: default;
      font-weight: 300;
      color: #fff;
      &:last-of-type {
        margin-right: 0;
       }
      &.active, &:hover {
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -6px;
          left: 0;
          background-color: #C4C4C4;
        }
      }
      a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
      }
    }

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}
